@font-face {
    font-family: "TitilliumWeb";
    src: url('/font/TitilliumWeb-Regular.ttf')
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #212121;
  /*font-family: "TitilliumWeb", sans-serif;*/
  margin-bottom: 0px;
}

.rect {
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
}

.title {
	font-size: 26pt;
	line-height: 24pt;
}
.title > small {
	font-size: 18pt;
	color: #bdbdbd;
}

.subtitle {
	font-size: 20pt;
	margin-left: 5px;
}

.well {
	margin-bottom: 0px;
	border-bottom: none;
}

a {
	color: #2554c7;
}

.node {
  font: 10px sans-serif;
  line-height: 12px;
  overflow: hidden;
  position: absolute;
  text-indent: 2px;
}
.nd {
	font: 10px sans-serif;
}

.legendac {
	display: table-cell;
	width: 35%;
	vertical-align: top;
}
.legenda {
	/*display: table;
	overflow-y: scroll;
	width: 100%;
	
	margin-left: 1px;
	margin-right: 1px;*/
}

.treemap {
	position: relative;
	display: table-cell;
	width: 63%;
	height: 100%;
	
	overflow: hidden;
}
.tmselection {
	vertical-align: top;

	display: table-cell;
	width: 2%;
}

.main {
	margin-left: 10px;
	margin-right: 10px;
}

.maintable {
	display: table;
	table-layout: fixed;
	width: 100%;

	border-collapse: separate;
	border-spacing: 5px;
}

.row {
	display: table-row;
}
.cell {
	vertical-align: top;

	display: table-cell;
	width: 100%;
	clear: both;
}

.graphcontent {
	display: table;
	width: 100%;
}
.smallgraph {
	height: 350px;
}
.biggraph {
	height: 700px;
}

.prfix {
	margin-top: -5.5px;
}

.lead {
	margin-bottom: 5px;
}

.items {
	/*margin-left: 20px;
	margin-right: 20px;*/
}

.dropdown-menu::before {
  position: absolute;
  top: -7px;
  right: 9px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #CCC;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

.dropdown-menu::after {
  position: absolute;
  top: -6px;
  right: 10px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid white;
  border-left: 6px solid transparent;
  content: '';
}

ul.nav {
    white-space: nowrap;
    overflow-x: auto;
    width: 100%;

    /* get scrollbar down hack */
    padding-bottom: 10px;
    margin-bottom: -8px;
}

ul.nav li {
    display: inline-block;
    float: none;
    text-align: center;
}

.bar {
  fill: brown;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

/* Color {{{ */
.navbar-default {
  background-color: #2ecc71;
  border-color: #27ae60;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #d1ffed;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #d1ffed;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #d1ffed;
  background-color: #27ae60;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #d1ffed;
  background-color: #27ae60;
}
.navbar-default .navbar-toggle {
  border-color: #27ae60;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #27ae60;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #d1ffed;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #d1ffed;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #d1ffed;
    background-color: #27ae60;
  }
}
/* }}} */
